<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826981513317-vkeuepru6tufe59ku4k69nrji6pij92f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826981513317-vkeuepru6tufe59ku4k69nrji6pij92f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826981513317-g5a7ttvmkq5mlhk8mm9isdd99omg9m2u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALe5uyiADo4JNpdi6TsSwS1MmLIwnEzOo</string>
	<key>GCM_SENDER_ID</key>
	<string>826981513317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signin1</string>
	<key>PROJECT_ID</key>
	<string>signin1-4e827</string>
	<key>STORAGE_BUCKET</key>
	<string>signin1-4e827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826981513317:ios:88cdf51fedbbb53b55ee8c</string>
	<key>DATABASE_URL</key>
	<string>https://signin1-4e827.firebaseio.com</string>
</dict>
</plist>